<!DOCTYPE html>
<html>
	<head>
	<title> Welcome </title>
	<link rel='stylesheet' href= '/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<h1>Welcome <%= title %> </h1>
    <p> Search Bible Book </p>
		<div id="books">
			<form method= "get " action="/books">
			<div>
				<select name = 'book_name' id='book_name'>
					<option class = "form-control selectpicker" > Select Book Name</option>
					<% for(var i=0; i < chapters.length; i++) { %>
						 <option> <%= chapters[i] %></option>
						<% } %>
				</select>
			</div>
			<div>
				<select name = 'chapters' id='chapters'>
						<option> Choose Chapter </option>
				</select>
			</div>
			<div>
				<select name = 'verse' id='verse'>
						<option> Choose Verse </option>
				</select>
			</div>
			<div>
				<input type="submit" name="find" value="Find All Verse" id= "find_book">
			</div>
			</form>
			<div>
				<p id='pverse'>Verse Display Here :</p>
			</div>
		</div>
		<script>
		$(document).ready(function() {
					var book_name;
					var chapters ;
					var verse;
					$('#book_name').change(function() {
						book_name = $(this).val();
						$.ajax({
							 url: 'http://localhost:3000/list?book_name='+book_name,
							 dataType: "json",
							 success: function(data) {
									 $.each(data, function (k,v){
										 var el = $("<option value='"  + k + "'>" + v + "</option>");
										 $(el).remove();
										 $(el).appendTo("#chapters");
										  });
							 },
							 error: function(jqXHR, textStatus, errorThrown) {
									 alert('error ' + textStatus + " " + errorThrown);
							 }
					 });
					})		

		$('#chapters').change(function(){
			let book_name = $('#book_name :selected').text();
			let chapters = $('#chapters :selected').text();
			console.log('book_name:',book_name);
			console.log('chapters:',chapters);
			let verseurl = "http://localhost:3000/getverse?book_name="+book_name+"&chapter="+chapters;
					fetch(verseurl).then(function(response) {
						response.json().then(function(data){
							verse = Object.values(data.chapters[chapters]);
							let verse_data = Object.keys(data.chapters[chapters]);
							$.each(verse_data, function (k,v){
								var el = $("<option value='"  + k + "'>" + v + "</option>");
								$(el).remove();
								$(el).appendTo("#verse");
							});
						})
					},
					function(err) {
						console.log(err);
					});
			 });
		$('#verse').change(function(){
			let vers = $(this).val();
			$('#pverse').text(Object.values(verse[vers]));
			
		});
	});
		
		</script>
		<div class=" data_table" id = " data_table">

		</div>
</body>
</html>